.App {
  @apply bg-coolGray-800 text-center;
}

.App-logo {
  height: 40vmin;

  @apply pointer-events-none motion-safe:animate-spin;

  animation-duration: 20s;
}

.App-header {
  font-size: calc(10px + 2vmin);
  min-height: 100vh;

  @apply flex flex-col items-center justify-center text-white;
}

.App-link {
  color: #61dafb;
}
